{% extends "base.html" %}

{% block content %}

    <h3>Astro Readings</h3>
    <p>I've spent many years studying the tarot, and while I love the complexity of the decks inspired by <a href="https://en.wikipedia.org/wiki/Antoine_Court_de_G%C3%A9belin" target="_new">Antoinne Court</a> and his successors I humbly suggest that you don't need to be an expert in qabalah, astrology or alchemy to learn the tarot. Yes there are 22 trumps and 22 letters in the Hebrew alphabet, and 4 suits and 4 elements, and 10 spheres of the qabalah and 10 minor arcana.... so now what? what are you going to do with this profound set of correspondences?</p>
  
    <h3>Planets</h3>
    <p>the journey of the soul</p>
    <ul>
        <li><a href="/one-card/sun">Sun</a></li>
        <li><a href="/one-card/moon">Moon</a></li>
        <li><a href="/one-card/mercury">Mercury</a></li>
        <li><a href="/one-card/venus">Venus</a></li>
        <li><a href="/one-card/mars">Mars</a></li>
        <li><a href="/one-card/jupiter">Jupiter</a></li>
        <li><a href="/one-card/saturn">Saturn</a></li>
        <li><a href="/one-card/uranus">Uranus</a></li>
        <li><a href="/one-card/neptune">Neptune</a></li>
        <li><a href="/one-card/pluto">Pluto</a></li>
        <li><a href="/one-card/north_node">North Node</a></li>
        <li><a href="/one-card/south_node">South Node</a></li>
    </ul>

    <h3>Signs</h3>
    <p>the mind - intellect<ul>
        <li><a href="/one-card/aries">Aries</a></li>
        <li><a href="/one-card/taurus">Taurus</a></li>
        <li><a href="/one-card/gemini">Gemini</a></li>
        <li><a href="/one-card/cancer">Cancer</a></li>
        <li><a href="/one-card/leo">Leo</a></li>
        <li><a href="/one-card/virgo">Virgo</a></li>
        <li><a href="/one-card/libra">Libra</a></li>
        <li><a href="/one-card/scorpio">Scorpio</a></li>
        <li><a href="/one-card/sagittarius">Saggittarius</a></li>
        <li><a href="/one-card/capricorn">Capricorn</a></li>
        <li><a href="/one-card/aquarius">Aquarius</a></li>
        <li><a href="/one-card/pisces">Pisces</a></li>
    </ul>

    <h3>Houses</h3>
    <p>the body - material matters</p>
    <ul>
        <li><a href="/one-card/one">First</a></li>
        <li><a href="/one-card/two">Second</a></li>
        <li><a href="/one-card/three">Third</a></li>
        <li><a href="/one-card/four">Fourth</a></li>
        <li><a href="/one-card/five">Fifth</a></li>
        <li><a href="/one-card/six">Sixth</a></li>
        <li><a href="/one-card/seven">Seventh</a></li>
        <li><a href="/one-card/eight">Eighth</a></li>
        <li><a href="/one-card/nine">Ninth</a></li>
        <li><a href="/one-card/ten">Tenth</a></li>
        <li><a href="/one-card/eleven">Eleventh</a></li>
        <li><a href="/one-card/twelve">Twelfth</a></li>
    </ul>

   

{% endblock %}
